@import "normalize.styl"

gris_oscuro = #333333
gris_claro = #818181

body
  font-family 'Varela Round', sans-serif
  font-size 16px
figure
  margin 0
.container
  display inline-block
  padding 1rem
  text-align center

.name
  color gris_oscuro
.author
  color gris_claro
.header
  height 3.5em
.title
  font-size 1.1em
  text-align center
  margin 0
  line-height 3.5em
.song
  font-size 1rem
  margin-bottom -5.5em
  margin-right 1em
  text-align left
  width 6em
  &:nth-child(even)
    margin-right 0
